#if (${PACKAGE_NAME} && ${PACKAGE_NAME} != "")package ${PACKAGE_NAME};#end
#parse("File Header.java")

import org.bukkit.entity.Player;
import org.bukkit.event.EventHandler;
import org.bukkit.event.Listener;
import org.bukkit.event.player.PlayerJoinEvent;
import org.mineacademy.fo.Messenger;

import lombok.AccessLevel;
import lombok.Getter;
import lombok.NoArgsConstructor;

/**
 * A sample listener for events.
 */
@NoArgsConstructor(access = AccessLevel.PRIVATE)
public final class ${NAME} implements Listener {

	/** 
	 * The singleton instance
	 */
	@Getter
	private static final Listener instance = new ${NAME}();

	@EventHandler
	public void onJoin(PlayerJoinEvent event) {
		final Player player = event.getPlayer();

		Messenger.success(player, "Welcome to the game!");
	}
}
