#if (${PACKAGE_NAME} && ${PACKAGE_NAME} != "")package ${PACKAGE_NAME};#end
#parse("File Header.java")

import java.util.List;

import org.mineacademy.fo.command.SimpleCommand;

/**
 * A sample standalone command.
 */
public final class ${NAME} extends SimpleCommand {

	public ${NAME}() {
		super("${Command_Label}");

		setUsage("${Command_Usage}");
		setDescription("${Command_Description}");
		setMinArguments(${Minimum_Arguments});
	}

	@Override
	protected String[] getMultilineUsageMessage() {
		return new String[] {
				"This will be shown on /${Command_Label} ?"
		};
	}

	/**
	 * Perform the main command logic.
	 */
	@Override
	protected void onCommand() {
		tell("Executed command /{label} " + joinArgs(0));
	}

	@Override
	protected List<String> tabComplete() {
		return NO_COMPLETE;
	}
}
