#if (${PACKAGE_NAME} && ${PACKAGE_NAME} != "")package ${PACKAGE_NAME};#end
#parse("File Header.java")

import org.bukkit.entity.EntityType;
import org.bukkit.entity.Player;
import org.bukkit.event.inventory.ClickType;
import org.bukkit.inventory.ItemStack;
import org.mineacademy.fo.ItemUtil;
import org.mineacademy.fo.menu.MenuPagged;
import org.mineacademy.fo.remain.CompMonsterEgg;

import java.util.Arrays;
import java.util.List;

/**
 * A sample pagged menu listing different items of the given type.
 */
public final class ${NAME} extends MenuPagged<${Class_To_List}> {

    /*
     * Create a new instance of this menu that will automatically load
     * the given items.
     */
    public ${NAME}() {
        super(compileItems());
    }

    /*
     * Compile a list of valid items here
     */
    private static List<${Class_To_List}> compileItems() {
        
        // You can do your custom list filtering logic here
        throw new RuntimeException("Not implemented");
    }

    /**
     * Converts the class this menu iterates into a displayable button
     */
    @Override
    protected ItemStack convertToItemStack(${Class_To_List} item) {
        throw new RuntimeException("Not implemented");
    }

    /**
     * Handles clicking with the iterated item.
     */
    @Override
    protected void onPageClick(Player player, ${Class_To_List} item, ClickType click) {
        animateTitle("Clicked on " + ItemUtil.bountifyCapitalized(item));
    }
}