#if (${PACKAGE_NAME} && ${PACKAGE_NAME} != "")package ${PACKAGE_NAME};#end
#parse("File Header.java")

import org.bukkit.event.player.PlayerInteractEvent;
import org.bukkit.inventory.ItemStack;
import org.mineacademy.fo.Messenger;
import org.mineacademy.fo.menu.model.ItemCreator;
import org.mineacademy.fo.menu.tool.Tool;
import org.mineacademy.fo.remain.CompMaterial;

import lombok.AccessLevel;
import lombok.Getter;
import lombok.NoArgsConstructor;

/**
 * An automatically registered tool you can use in the game
 */
@NoArgsConstructor(access = AccessLevel.PRIVATE)
public class ${NAME} extends Tool {

	/**
	 * The singular tool instance
	 */
	@Getter
	private static final Tool instance = new ${NAME}();

	/**
	 * The actual item stored here for maximum performance
	 */
	private ItemStack item;

	@Override
	public ItemStack getItem() {

		if (item == null)
			item = ItemCreator.of(
					CompMaterial.GOLDEN_AXE,
					"Sample Tool",
					"",
					"Click a block to",
					"demostrate tool",
					"listener ability.")
					.build().make();

		return item;
	}

	@Override
	protected void onBlockClick(PlayerInteractEvent event) {
		Messenger.success(event.getPlayer(), "Clicked " + event.getAction() + " with " + this.item.getType() + " tool!");
	}

	/**
	 * Cancel the event so that we don't destroy blocks when selecting them
	 */
	@Override
	protected boolean autoCancel() {
		return true;
	}
}