#if (${PACKAGE_NAME} && ${PACKAGE_NAME} != "")package ${PACKAGE_NAME};#end
#parse("File Header.java")

import java.util.ArrayList;
import java.util.List;

import org.bukkit.entity.EntityType;
import org.bukkit.entity.Player;
import org.bukkit.event.inventory.ClickType;
import org.bukkit.inventory.ItemStack;
import org.mineacademy.fo.ItemUtil;
import org.mineacademy.fo.menu.Menu;
import org.mineacademy.fo.menu.MenuPaged;
import org.mineacademy.fo.menu.MenuTools;
import org.mineacademy.fo.menu.button.Button;
import org.mineacademy.fo.menu.button.ButtonMenu;
import org.mineacademy.fo.menu.model.ItemCreator;
import org.mineacademy.fo.remain.CompMaterial;
import org.mineacademy.fo.remain.CompMonsterEgg;

/**
 * A sample menu.
 */
public final class ${NAME} extends Menu {

	private final Button sampleButton;

	/*
	 * Create a new menu, called using a static method below
	 */
	private ${NAME}() {
		setTitle("${Menu_Title}");
		setSize(${Menu_Size});

		// Create a new button with click handler
		this.sampleButton = Button.makeSimple(ItemCreator.of(CompMaterial.APPLE), player -> {
			animateTitle("You clicked this button");
		});
	}

	/**
	 * @see org.mineacademy.fo.menu.Menu#getItemAt(int)
	 */
	@Override
	public ItemStack getItemAt(int slot) {

		if (slot == 9 + 1)
			return this.sampleButton.getItem();

		return NO_ITEM;
	}

	/**
	 * @see org.mineacademy.fo.menu.Menu#getInfo()
	 */
	@Override
	protected String[] getInfo() {
		return new String[] {
				"This is a sample menu which has",
				"a sample button and a submenu."
		};
	}

	/**
	 * Show this menu to the given player 
	 *
	 * @param player
	 */
	public static void showTo(Player player) {
		new ${NAME}().displayTo(player);
	}
}
