#if (${PACKAGE_NAME} && ${PACKAGE_NAME} != "")package ${PACKAGE_NAME};#end
#parse("File Header.java")

import org.mineacademy.fo.command.DebugCommand;
import org.mineacademy.fo.command.PermsCommand;
import org.mineacademy.fo.command.ReloadCommand;
import org.mineacademy.fo.command.SimpleCommandGroup;

import lombok.AccessLevel;
import lombok.Getter;
import lombok.NoArgsConstructor;

@NoArgsConstructor(access = AccessLevel.PRIVATE)
public final class ${NAME} extends SimpleCommandGroup {

	@Getter
	private final static SimpleCommandGroup instance = new ${NAME}();

	@Override
	protected void registerSubcommands() {

		// Register the premade commands from Foundation
		
		// You must have a sample Permissions class to use this
		//registerSubcommand(new PermsCommand(Permissions.class, "templateplugin.command.perms"));
		registerSubcommand(new DebugCommand("templateplugin.command.debug"));
		registerSubcommand(new ReloadCommand("templateplugin.command.reload"));
	}
}
