#if (${PACKAGE_NAME} && ${PACKAGE_NAME} != "")package ${PACKAGE_NAME};#end
#parse("File Header.java")

import java.util.Arrays;
import java.util.List;

import org.mineacademy.fo.settings.Lang;
import org.mineacademy.fo.settings.SimpleSettings;
import org.mineacademy.fo.settings.YamlStaticConfig;

@SuppressWarnings("unused")
public final class ${NAME} extends SimpleSettings {

	@Override
	protected int getConfigVersion() {
		return 1;
	}

	@Override
	protected List<String> getUncommentedSections() {
		return Arrays.asList(
				"Example.Uncommented_Section");
	}

	public static class SampleSection {

		public static Boolean SAMPLE_FLAG;

		/*
		 * Automatically called method when we load settings.yml to load values in this subclass
		 */
		private static void init() {
			pathPrefix("Example");

			SAMPLE_FLAG = getBoolean("Sample_Flag");
		}
	}

	/*
	 * Automatically called method when we load settings.yml to load values in this class
	 * See above for usage.
	 */
	private static void init() {
		pathPrefix(null);
	}
}
